<div class="container">


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">LIGNITE SUPPLY TO ST-CMS </h3>
        </div>
        <div class="panel-body">



        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">LIGNITE SALES</h3>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-primary">TARE WEIGHT</button>

            <button type="button" class="btn btn-primary">GROSS WEIGHT</button>

        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">LIGNITE MINE TO MINE TRANSFER</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">LIGNITE INSIDE BUNKER TRANSFER</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>


</div>