.modal-footer {
    border: 0;
}
.ng-dirty.ng-invalid {
    border-left: 2px solid #a94442;
}
.alert-danger {
    padding: 0 0 0 5px;
    font-size: 11px;
    font-weight: bold;
    background: transparent;
    color: #a94442;
    border: none;
}
span {
    padding-left: 5px;
}

.popup-footer {
    padding: 10px;
    text-align: right;
}

.popup-footer>button {
    margin-right: 5px;
}

.inpage-edit {
    min-height: 500px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 768px;
        margin: 30px auto;
    }
}

@media (min-width: 992px) {
    .modal-dialog {
        width: 991px;
        margin: 30px auto;
    }
}