<div class="module-header">
  {{config.title}}
  <span class="pull-right">
    <button type="button" class="btn btn-primary" (click)="add()">Add {{config.labelText}}</button>
  </span>
</div>
<div>
  <ngx-datatable #table class="material" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    [rows]="listData" [limit]="10">Í
    <ngx-datatable-column *ngFor="let col of columns" [name]="col.columnTitle" [prop]="col.columnName" [flexGrow]="2">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span *ngIf="!col.lookupkey">{{value}}</span>
        <span *ngIf="col.lookupkey!==''">{{value[col.lookupdisplay]}}</span>

      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Actions" prop="id" [flexGrow]="1">
      <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
        <a class="btn btn-primary" (click)="edit($event, rowIndex, row)" role="button">Edit</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<a class="btn btn-primary" data-toggle="modal" href='#modal-id' #formModel style="display: none">Trigger modal</a>
<div class="modal fade" id="modal-id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div *ngIf="showView" class="inpage-edit">
        <div *ngFor="let col of config.view" class="col-xs-12" [ngClass]="col.cssClass">
          <div *ngIf="col.formVisibility">
            <div [ngSwitch]="col.field">
              <div class="form-group" *ngSwitchCase="'input'">
                <label for=""> {{col.columnTitle}}</label>
                <input type="text" [name]="col.columnName" class="form-control" [placeholder]="col.columnTitle"
                  [(ngModel)]="moduleElement[col.columnName]">
              </div>
              <div class="form-group" *ngSwitchCase="'textarea'">
                <label for=""> {{col.columnTitle}}</label>
                <textarea [name]="col.columnName" id="input" class="form-control" rows="3" [placeholder]="col.columnTitle"
                  [(ngModel)]="moduleElement[col.columnName]"></textarea>
              </div>
              <div class="form-group" *ngSwitchCase="'select'">
                <label for=""> {{col.columnTitle}}</label>
                <select [name]="col.columnName" id="input" class="form-control" [(ngModel)]="moduleElement[col.columnName][col.lookupkey]"
                  required="required">
                  <option value=""></option>
                  <option *ngFor="let lookup of lookupObject[col.lookup]" [ngValue]="lookup">{{lookup[col.lookupdisplay]}}</option>
                </select>
              </div>
              <div class="form-group" *ngSwitchCase="'parentSelect'">
                <label for=""> {{col.columnTitle}}</label>
                <select [name]="col.columnName" id="input" class="form-control" (change)="onSelectChanges(col.columnName,col.childName,col.lookupkey,$event.target.value)"
                  [(ngModel)]="moduleElement[col.columnName][col.lookupkey]" required="required">
                  <option value=""></option>
                  <option *ngFor="let lookup of lookupObject[col.lookup]" [value]="lookup[col.lookupkey]">{{lookup[col.lookupdisplay]}}</option>
                </select>
              </div>
              <div class="form-group" *ngSwitchCase="'childSelect'">
                <label for=""> {{col.columnTitle}}</label>
                <select [name]="col.columnName" id="input" class="form-control" [(ngModel)]="moduleElement[col.columnName][col.lookupkey]"
                  required="required">
                  <option value=""></option>
                  <option *ngFor="let lookup of childLookupObject[col.lookup]" [value]="lookup[col.lookupkey]">{{lookup[col.lookupdisplay]}}</option>
                </select>
              </div>
              <div class="form-group" *ngSwitchDefault>
                <label for=""> {{col.columnTitle}}</label>
                <input type="text" [name]="col.columnName" class="form-control" [placeholder]="col.columnTitle"
                  [(ngModel)]="moduleElement[col.columnName]">
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="popup-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" #closeDialog>Close</button>
        <button type="button" class="btn btn-primary" *ngIf="!editMode" (click)="addData()">Add {{config.labelText}}</button>
        <button type="button" class="btn btn-primary" *ngIf="editMode" (click)="saveData()">Update {{config.labelText}}</button>
        <button type="button" class="btn btn-primary" *ngIf="editMode" (click)="deleteData()">Delete
          {{config.labelText}}</button>
      </div>
    </div>
  </div>
</div>