<nav class="navbar navbar-default " role="navigation">
  <div class="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="master/department"> Department</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="master/location">Location</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="master/taxunit">Tax Unit</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="master/bay">Bay Master</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="master/folio">Folio</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="master/weighbridge">Weight Bridge</a>
          </li>
        <li routerLinkActive="active">
          <a routerLink="master/clientaddress">Client Address</a>
        </li>
      </ul>
    </div>
  </div>
</nav>