<div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 home-content">

    <button type="button" class="btn btn-large btn-block btn-primary" routerLink="/weight">Weight</button>

  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 home-content">

    <button type="button" class="btn btn-large btn-block btn-primary">Weight</button>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 home-content">
    <button type="button" class="btn btn-large btn-block btn-primary">Weight</button>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 home-content">
    <button type="button" class="btn btn-large btn-block btn-primary">Weight</button>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 home-content">
    <button type="button" class="btn btn-large btn-block btn-primary">Weight</button>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 home-content">
    <button type="button" class="btn btn-large btn-block btn-primary">Weight</button>
  </div>
</div>