<div class="module-header">
  Client Master
  <span class="pull-right">
    <button type="button" class="btn btn-primary" (click)="addClient()">Add Client</button>
  </span>
</div>
<div>
  <ngx-datatable #table class="material" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    [rows]="clientData" [limit]="10">
    <ngx-datatable-column name="Client ID" prop="id" [flexGrow]="2">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Client Name" prop="contactPersonName" [flexGrow]="2">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Contact Number" prop="contactPersonNumber" [flexGrow]="2">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Street" prop="addressId" [flexGrow]="2">
      <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex" >
        {{value.street}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="District" prop="addressId" [flexGrow]="2">
      <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex" >
        {{value.district}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="State" prop="addressId" [flexGrow]="2">
      <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex" >
        {{value.state}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Actions" prop="id" [flexGrow]="2">
      <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex" >
        <a class="btn btn-primary" (click)="edit($event, rowIndex)" role="button">Edit</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>


<a class="btn btn-primary" data-toggle="modal" href='#modal-id' #triggerModel>Trigger modal</a>
<div class="modal fade" id="modal-id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Client</h4>
      </div>
      <div class="modal-body">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group col-xs-12 col-sm-6">
            <label for="">Client Code</label>
            <input type="text" name="clientId" class="form-control" [(ngModel)]="client.id" placeholder="Client Code">
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for=""> Name</label>
            <input type="text" name="clientName" class="form-control" [(ngModel)]="client.contactPersonName" placeholder="Client Name">
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="">Contact Phone Number</label>
            <input type="text" name="clientName" class="form-control" [(ngModel)]="client.contactPersonNumber" placeholder="Contact Phone Number">
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="">GSTIN</label>
            <input type="text" name="gstin" class="form-control" [(ngModel)]="client.GSTIN" placeholder="GSTIN">
          </div>
          <div class="form-group col-xs-12 col-sm-12">
            <label for="">Street Address</label>
            <input type="text" name="gstin" class="form-control" [(ngModel)]="address.street" placeholder="Street">
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="">District</label>
            <input type="text" name="gstin" class="form-control" [(ngModel)]="address.district" placeholder="District">
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="">State</label>
            <input type="text" name="gstin" class="form-control" [(ngModel)]="address.pinCode" placeholder="PIN Code">
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
